[Unit]
Description=Compositing manager
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/compton --backend glx --dbus --unredir-if-possible 

[Install]
WantedBy=xsession.target
