[Unit]
Description=Compositing manager
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/picom --dbus

[Install]
WantedBy=xsession.target
